.container-currency{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .container{
        width: 40%;
        height: auto;
        display: flex;
        align-items: center;        
        flex-direction: column;
        margin-top: -170px;
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;

        box-shadow: 0px 0px 1px 1px #E0E1D5; 

        .icon-dollar{
            margin-top: 20px;
        }

        .content{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        select{
            width: 300px;
            height: 45px;
            border-radius: 0.25rem;
            border: 2px solid #CCCCCC;
            padding-left: 8px;
            margin-top: 2px;
            margin-bottom: 20px;
            font-size: 16px;
            outline: none;            
            
            &:focus{
                outline: none;
                border: 2px solid var(--color-header);
            }
        } 

        h1{
            margin: 20px 0 20px 0;
        }
    }

    .resultado{
        width: 40%;
        height: auto;
        display: flex;
        align-items: center;        
        flex-direction: column;
        margin-top: -170px;
        margin-left: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;

        box-shadow: 0px 0px 1px 1px #E0E1D5;

        h2{
            margin-top: 50px;
        }
    }
}